/* Light Mode Styles */
body {
    background-color: white;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

.btn-primary {
    background-color: blue;
    color: white;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode h4, 
body.dark-mode h5, 
body.dark-mode h6 {
    color: white;
}

body.dark-mode .btn-primary {
    background-color: #bb86fc;
    color: black;
}
